.contanier {
    width: 200px;
    height: 40px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -100px;
    background: #f8f8f8;
    box-shadow: 5px 5px 5px 5px #25c1dd;
    border-radius: 5px;
    animation: fade .2s linear;

    @keyframes fade {
        from {
            top: 0px;
        }
        to {
            top: 20px;
        }
    }
}