.contanier {
    width: 380px;
    height: 44px;
    position: fixed;
    left: 50%;
    margin-left: -190px;
    background: #fef0f0;
    border: 1px solid #e98989;
    // box-shadow: 0px 0px 15px 1px #25c1dd;
    border-radius: 5px;
    animation: fade .4s linear;
    text-align: center;
    line-height: 44px;
    z-index: 22;

    @keyframes fade {
        from {
            top: -10px;
        }
        to {
            
        }
    }
}